.header {
	height: 50px;
	line-height: 50px;
	background-color: #000000;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.header .public-container {
	width: 1000px;
	position: relative;
	height: 100%;
	/* text-align: left; */
}

.header .link-content {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    top: 0;
    bottom: 0;
    height: 20px;
    margin: auto 0;
    right: 0;
}

.header a {
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    line-height: 20px;
    padding: 0 10px;
    border-right: 2px solid;
    border-color: #FFF;
    white-space: nowrap;
}

.header a:hover {
	color: #ea00ff;
}

.header a.logo {
	position: absolute;
	width: 141px;
	height: 32px;
	background: url(../images/logo.png) center top no-repeat;
	top: 0px;
	bottom: 0;
	left: 0;
	margin: auto 0;
}

.public-footer {
	height: 100px;
	background-color: #390606;
	color: #FFF;
}

.public-footer .public-container {
	line-height: 100px;
	font-size: 0;
}

.public-footer .public-container p {
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
}

.float-right{
	position: fixed;
	width: 116px;
	height: 363px;
	right: 0;
	top: 100px;
	border-radius: 56px;
	background-color: #df0223;
	border: 5px solid #ff4444;
}

.float-right .float-title{
    width: 106px;
    height: 73px;
    /* background: url(../img/floattitle.png) center top no-repeat; */
    margin: 0 auto;
    padding-top: 29px;
    padding-left: 3px;
}

.float-right a{
	display: block;
	text-align: center;
	color: #ffffff;
}

.float-right a:hover{
	color: #ffe320;
}

.float-right a:not(.top){
    line-height: 28px;
    font-size: 12px;
    border-bottom: 5px solid #ff4444;
}

.float-right a.top{
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
}
